* {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
}

.footer {
    margin-top: 100px;
    width: 100%;
    padding: 25px 40px;
    background-color: #212121;
    color: #fff;
    display: flex;
    z-index: 99;
}

.footer div {
    text-align: center;

}

.levofooter {
    flex-grow: 2;
}

.footer div h2 {
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.levofooter a {
    display: flex;
    text-decoration: none;
    color: #fff;
    margin-bottom: 5px;

}

.levofooter h2 {
    text-align: left;
}

.slikafooter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

}

@media screen and (max-width: 580px) {
    .footer {
        width: 120%;
    }
}

@media screen and (max-width: 400px) {
    .footer {
        width: 120%;
    }
}

@media screen and (max-width: 380px) {
    .footer {
        width: 180%;
    }
}